@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Canadian Election Archive</h1>
    <p>Don't forget to vote on October 21st if you are eligible. Learn more at <a href="https://elections.ca/home.aspx">Elections Canada</a>.</p>
    <p>Not sure who best represents you?  Try the free online <a href="https://votecompass.cbc.ca/canada/">Vote Compass</a> to see which party most closely aligns with your views.</p>
</div>
